# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
app.*.map.json
app.*.symbols
*.lock

# Editors & OS
.idea/
.vscode/
*.iml
*.log
.DS_Store
